<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{name}}</title>
    <!-- 公共的头部 -->
    {% raw %}{% include 'common/common-css.html' %} {% endraw %}
    <link
      rel="stylesheet"
      href="{% raw %}{{{% endraw %} 'pages/{{name}}/{{name}}.css'{% raw %} | make_dist_url }}"{% endraw %}
    />
  </head>
  <body>
    <!-- 头部导航 -->
    {% raw %}{% include 'common/header/header.html' %} {% endraw %}

    <div class="wrapper">
      <div id="app"></div>
    </div>

    <!-- 底部-->
    {% raw %}{% include 'common/footer/footer.html' %} {% endraw %}

    <!-- 公共的底部 -->
    {% raw %}{% include 'common/common-js.html' %} {% endraw %}

    <script src="{% raw %}{{{% endraw %} 'pages/{{name}}/{{name}}.js'{% raw %} | make_dist_url }}"{% endraw %}></script>
  </body>
</html>
